# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.myProgress.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\LittleFroggyHat\myProgress\.idea\.idea.myProgress.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
